@import url(/css/src/foundation/reset.css);
@import url(../css/src/themes/tasy-light.css);
@import url(../css/components.css);

html {
    background: var(--surface-base);
}

.s-hero {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.s-hero .container {
    width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.s-hero .container .content {
    display: flex;
    flex-direction: row;
    width: 560px;
    justify-content: space-between;
}