@import url(../foundation/variables.css);

:root {

    /* Colors Surface */

    --surface-base: var(--global-gray-75);

    /* Colors Interactive */

    --color-primary-normal: var(--global-blue-45);
    --color-primary-hover: var(--global-blue-50);
    --color-primary-pressed: var(--global-blue-55);
    --color-secondary-normal: var(--global-blue-15);
    --color-secondary-hover: var(--global-blue-20);
    --color-secondary-pressed: var(--global-blue-25);
    --color-tertiary-normal: var(--global-gray-10);
    --color-tertiary-hover: var(--global-gray-15);
    --color-tertiary-pressed: var(--global-gray-20);
    --color-signal-normal: var(--signal-green-45);
    --color-signal-hover: var(--signal-green-50);
    --color-signal-pressed: var(--signal-green-60);
    --color-quiet-normal: var(--global-neutral-transparent);

    /* Text Interactive */

    --text-onPrimary-normal: var(--global-neutral-black);
    --text-onPrimary-hover: var(--global-neutral-black);
    --text-onPrimary-pressed: var(--global-neutral-black);
    --text-onSecondary-normal: var(--global-blue-75);
    --text-onSecondary-hover: var(--global-blue-80);
    --text-onSecondary-pressed: var(--global-blue-80);
    --text-onTertiary-normal: var(--global-gray-75);
    --text-onTertiary-hover: var(--global-gray-75);
    --text-onTertiary-pressed: var(--global-gray-75);
    --text-onSignal-normal: var(--global-neutral-black);
    --text-onSignal-hover: var(--global-neutral-black);
    --text-onSignal-pressed: var(--global-neutral-black);
    --text-onQuiet-normal: var(--global-blue-45);
    --text-onQuiet-hover: var(--global-blue-50);
    --text-onQuiet-pressed: var(--global-blue-55);


    /* UI Details */

    --button-borderRadius: var(--radius-sm);
    --button-padding: 8px 12px;
    --button-label: var(--label-medium);
    --button-style: none;

    /* Typographies */

    --label-small: 14px;
    --label-medium: 16px;
    --label-large: 18px;

}
