@import url("/css/src/foundation/variables.css");

:root {

    /* Colors Surface */

    --surface-base: var(--global-gray-75);

    /* Colors Interactive */

    --color-primary-normal: var(--signal-blue-45);
    --color-primary-hover: var(--signal-blue-30);
    --color-primary-pressed: var(--global-blue-70);
    --color-secondary-normal: var(--global-groupblue-15);
    --color-secondary-hover: var(--global-groupblue-20);
    --color-secondary-pressed: var(--global-groupblue-25);
    --color-tertiary-normal: var(--global-gray-20);
    --color-tertiary-hover: var(--global-gray-10);
    --color-tertiary-pressed: var(--global-gray-60);
    --color-signal-normal: var(--signal-lime-60);
    --color-signal-hover: var(--signal-lime-40);
    --color-signal-pressed: var(--global-green-70);
    --color-quiet-normal: var(--global-neutral-transparent);

    /* Text Interactive */

    --text-onPrimary-normal: var(--global-gray-75);
    --text-onPrimary-hover: var(--global-gray-75);
    --text-onPrimary-pressed: var(--global-gray-75);
    --text-onSecondary-normal: var(--global-gray-75);
    --text-onSecondary-hover: var(--global-gray-75);
    --text-onSecondary-pressed: var(--global-gray-75);
    --text-onTertiary-normal: var(--global-gray-75);
    --text-onTertiary-hover: var(--global-gray-75);
    --text-onTertiary-pressed: var(--global-gray-75);
    --text-onSignal-normal: var(--global-gray-75);
    --text-onSignal-hover: var(--global-gray-75);
    --text-onSignal-pressed: var(--global-gray-75);
    --text-onQuiet-normal: var(--signal-blue-30);
    --text-onQuiet-hover: var(--signal-blue-45);
    --text-onQuiet-pressed: var(--global-blue-70);


    /* UI Details */

    --button-borderRadius: var(--radius-md);
    --button-padding: 6px 16px;
    --button-label: var(--label-small);
    --button-style: 0px 1px 1px 0px #00000099;

    /* Typographies */

    --label-small: 14px;
    --label-medium: 16px;
    --label-large: 18px;

}

button {
    min-width: 80px;
}