@import url("/css/main.css");

button {
    font-size: var(--button-label);
    padding: var(--button-padding);
    border-radius: var(--button-borderRadius);
    box-shadow: var(--button-style);
}

button:focus-visible {
    outline-offset: 4px;
    outline: 3px solid var(--color-primary-normal);
}

.button-primary {
    background: var(--color-primary-normal);
    color: var(--text-onPrimary-normal);
}

.button-primary:hover {
    background: var(--color-primary-hover);
    color: var(--text-onPrimary-hover);
    box-shadow: none;
}

.button-primary:active {
    background: var(--color-primary-pressed);
    color: var(--text-onPrimary-pressed);
}

.button-secondary {
    background: var(--color-secondary-normal);
    color: var(--text-onSecondary-normal);
}

.button-secondary:hover {
    background: var(--color-secondary-hover);
    color: var(--text-onSecondary-hover);
    box-shadow: none;
}

.button-secondary:active {
    background: var(--color-secondary-pressed);
    color: var(--text-onSecondary-pressed);
}

.button-tertiary {
    background: var(--color-tertiary-normal);
    color: var(--text-onTertiary-normal);
}

.button-tertiary:hover {
    background: var(--color-tertiary-hover);
    color: var(--text-onTertiary-hover);
    box-shadow: none;
}

.button-tertiary:active {
    background: var(--color-tertiary-pressed);
    color: var(--text-onTertiary-pressed);
}

.button-signal {
    background: var(--color-signal-normal);
    color: var(--text-onSignal-normal);
}

.button-signal:hover {
    background: var(--color-signal-hover);
    color: var(--text-onSignal-hover);
    box-shadow: none;
}

.button-signal:active {
    background: var(--color-signal-pressed);
    color: var(--text-onSignal-pressed);
}

.button-quiet {
    background: var(--color-quiet-normal);
    color: var(--text-onQuiet-normal);
    box-shadow: none;
}

.button-quiet:hover {
    background: var(--color-quiet-normal);
    color: var(--text-onQuiet-hover);
    box-shadow: none;
    text-decoration: underline;
}

.button-quiet:active {
    background: var(--color-quiet-normal);
    color: var(--text-onQuiet-pressed);
    box-shadow: none;
}